.wd-search-tuiter {
  bottom: 12px;
  left: 25px;
}

.wd-cog {
  color: #2a9fd6;
}

.wd-text-in-img {
  bottom: 3px;
  left: 10px;
  color: #222;
  font-weight: bold;
}

.wd-more-icon {
  top: 3px;
  left: 2px;
}
